body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark {
    background-color: #121212;
    color: white;
  }
  
  button {
    transition: background-color 0.3s, color 0.3s;
  }
  
  button.dark {
    background-color: #333333;
    color: white;
    border: 1px solid #555;
  }
  
  a {
    transition: color 0.3s;
  }
  
  a.dark {
    color: #fff;
  }
  body, html {
    background-color: #ffffff; /* 원하는 배경색으로 변경 */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }